# Specify filepatterns you want git to ignore.
.DS_Store
cmi.sqlite.db
security.key
DataBaseInfo.yml
GeoIP.dat
_backup-powderedsnow-hologram-santa-world-2021.yml
_backup-security.key
Locale_ES.yml
Locale_CN.yml
Locale_CZ.yml
Locale_DE.yml
Locale_FR.yml
Locale_IT.yml
Locale_LT.yml
Locale_NO.yml
Locale_PL.yml
Locale_RU.yml
Locale_SK.yml
Locale_SL.yml
Locale_TR.yml
Locale_UA.yml
Locale_ZH.yml
Images/
moneyLog/
FileBackups/
sellLogs/
items_ES.yml